# SPDX-License-Identifier: MIT
[D-BUS Service]
Name=org.stumblefish.Collector
Exec=/usr/bin/harbour-stumblefishd
SystemdService=harbour-stumblefishd.service
