# SPDX-License-Identifier: MIT
[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-stumblefish
Exec=harbour-stumblefish
Name=Stumblefish

[X-Sailjail]
OrganizationName=org.stumblefish
ApplicationName=harbour-stumblefish
Permissions=Location;Internet;Bluetooth;Stumblefish

[X-HarbourBackup]
BackupPathList=.config/org.stumblefish/harbour-stumblefish.conf:.local/share/org.stumblefish/harbour-stumblefish/
